alembic
APScheduler
beautifulsoup4
blinker
cashfree-pg
celery
click
email-validator
Flask
Flask-CORS
Flask-Limiter
Flask-Login
Flask-Migrate
Flask-SQLAlchemy
Flask-SSE
Flask-WTF
google-api-python-client
google-auth
google-auth-httplib2
google-auth-oauthlib
google-generativeai
gunicorn
lxml
numpy
openai
openpyxl
Pillow
psycopg2-binary
python-dateutil
python-docx
python-dotenv
pytrends
pytz
razorpay
redis
requests
setuptools
SQLAlchemy
weasyprint
Werkzeug
WTForms
youtube-transcript-api
