Flask
Flask-SQLAlchemy
Flask-Login
Flask-WTF
psycopg2-binary
gunicorn
python-dotenv
google-api-python-client
Werkzeug
email-validator
google-auth-oauthlib
requests
openai
setuptools
razorpay
Flask-Limiter
openpyxl
python-docx
APScheduler
SQLAlchemy
pytz
cashfree-pg
google-generativeai
celery
redis
youtube-transcript-api
pytrends
numpy
Flask-SSE
blinker
weasyprint
